.navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    z-index: 1;
  }
  
  .user-profile {
    margin-left: 10px;
  }
  
  .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .user-image:hover {
    transform: scale(1.1);
  }
  
  .notification-icon {
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .notification-icon i {
    font-size: 20px;
    color: #333;
  }
  
  .notification-icon:hover {
    transform: scale(1.1);
  }
  
  .side-menu {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }
  
  .side-menu.open {
    right: 0;
  }
  
  .notification-content {
    padding: 20px;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .user-avatar {
    margin-right: 10px;
  }
  
  .avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .notification-details {
    flex: 1;
  }
  
  .notification-message {
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-name {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .notification-time {
    color: #666;
    font-size: 0.9rem;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  